.description {
  background-color: #d8d8d8;
  padding: 50px;
}

.description > h2 {
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #313131;
  text-align: center;
  margin-bottom: 10px;
  font-family: historic02, Helvetica, Arial, sans-serif;
  font-weight: 400;
  clear: both;
  text-align: center;
}

.description > p {
  color: #414141;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.6px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .description > h2 {
    font-size: 32px;
    line-height: 40px;
  }
}
